<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Products</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
          integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
</head>
<body>
<div class="container">
    <div th:replace="nav :: nav(Cart)"/>

    <span  th:if="${@cart.container.isEmpty()}">Cart is empty</span>

    <div>
        <a class="btn btn-success" th:href="@{/orders/show}">Show order list</a>

    </div>

    <table th:if="${!@cart.container.isEmpty()}" class="table table-hover">
        <thead class="thead-dark">
        <tr>
            <th>Название</th>
            <th>Количество</th>
            <th>Цена</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="oi : ${@cart.container}">
            <td th:text="${oi.product.title}"/>
            <td>
                <a class="btn btn-danger" th:href="@{'/cart/dec/' + ${oi.product.id}}">-</a>
                <span th:text="${oi.quantity}"/>
                <a class="btn btn-success" th:href="@{'/cart/inc/' + ${oi.product.id}}">+</a>
                <a class="btn btn-danger" th:href="@{'/cart/remove/' + ${oi.product.id}}">X</a>
            </td>
            <td th:text="${oi.quantity + ' x ' + oi.pricePerProduct + ' = ' + oi.price}"/>
        </tr>
        <tr>
            <td></td>
            <td>Итого:</td>
            <td th:text="${@cart.price}"></td>
        </tr>
        </tbody>
    </table>
</div>
</body>
</html>