<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Products</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
          integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
</head>
<body>
<div class="container">
    <div th:replace="~{nav :: nav(Orders)}"/>
    <a class="btn btn-success" th:href="@{/orders/place}">Place an order</a>

    <table class="table table-hover">
        <thead class="thead-dark">
        <tr>
            <th>ID</th>
            <th>Клиент</th>
            <th>Цена</th>
            <th>Товар</th>
        </tr>
        </thead>
        <tbody>
        <span th:each="o : ${order.orderList}">
            <td th:text="${o.id}"/>
            <td th:text="${o.customer.name}"/>
            <td th:text="${o.price}"/>
            <td>
                <tr th:each="p: ${o.items}">
                <p th:text="${p.id}"></p>
                <p th:text="${p.product.title}"></p>
                <p th:text="${p.product.price}"></p>
                </tr>
            <td>
        </span>
        </tbody>
    </table>
</div>
</body>
</html>