<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Products</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
          integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
</head>

<body>
<p th:text="#{home.welcome}">Welcome!</p>
<div class="container">

    <form method="GET" th:action="@{/prod} ">
        <div class="col">
            <div class="row-3">
                <input placeholder="Select min price" type="text" th:name="min_price"/>
            </div>
            <div class="row-3">
                <input placeholder="Select max price" type="text" th:name="max_price"/>
            </div>
            <div class="row-3">
                <input placeholder="Select name" type="text" th:name="title"/>
            </div>

            <div class="row-3">
                <button class="btn btn-primary" type="submit">Ok</button>
            </div>
        </div>
    </form>

    <nav aria-label="Page navigation example">
        <ul class="pagination">
            <li class="page-item" th:classappend="${products.isFirst() ? 'disabled' : ''}">
                <a class="page-link"
                   th:href="@{'/prod?p=' + ${products.previousOrFirstPageable().getPageNumber() + 1} + ${filtered_attributes}}">Назад</a>
            </li>

            <li class="page-item" th:classappend="${products.getNumber() + 1 == i ? 'active' : ''}"
                th:each="i : ${pages}">
                <a class="page-link" th:text="${i}" th:href="@{'/prod?p=' + ${i} + ${filtered_attributes}}"></a>
            </li>

            <li class="page-item" th:classappend="${products.isLast() ? 'disabled' : ''}">
                <a class="page-link"
                   th:href="@{'/prod?p='+ ${products.nextOrLastPageable().getPageNumber() + 1} + ${filtered_attributes}}">Вперед</a>
            </li>
        </ul>
    </nav>

    <table class="table table-hover">
        <thead class="thead-dark">
        <tr>
            <th style="min-width: min-content">Product id</th>
            <th>Title</th>
            <th>Price</th>
            <th>Action</th>
        </tr>
        <tr th:each="p : ${products}">
            <td th:text="${p.id}"/>
            <td th:text="${p.title}"/>
            <td th:text="${p.price}"/>
            <td>
                <a class="btn btn-danger"
                   th:href="@{'/prod/delete/' + ${p.id} + '?p=' +${products.getNumber() + 1} + ${filtered_attributes}}"
                   th:text="Delete"/>
            </td>
        </tr>
    </table>
</div>

</body>
</html>